LoRaWan/Node-red/flows.json
[
    {
        "id": "76c0ebc5d5b9e7f9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3202e688b248477b",
        "type": "http request",
        "z": "76c0ebc5d5b9e7f9",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "api.openweathermap.org/data/2.5/weather?q=Antwerp,be&APPID=4457727a97c3c46372f91bdcf6840ceb",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 980,
        "wires": [
            [
                "09b58696e9446157",
                "59f911c37b20a106",
                "6f591ea849078ff2",
                "8efbdf4fd25d6cb0",
                "f1de12aa24c31176",
                "d493f7575ff34653"
            ]
        ]
    },
    {
        "id": "09b58696e9446157",
        "type": "debug",
        "z": "76c0ebc5d5b9e7f9",
        "name": "Raw API data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 940,
        "wires": []
    },
    {
        "id": "6f591ea849078ff2",
        "type": "ui_text",
        "z": "76c0ebc5d5b9e7f9",
        "group": "0746a1fe7f49ec89",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Weer:",
        "format": "{{msg.payload.weather[0].main}}",
        "layout": "row-spread",
        "className": "",
        "x": 690,
        "y": 780,
        "wires": []
    },
    {
        "id": "59f911c37b20a106",
        "type": "ui_gauge",
        "z": "76c0ebc5d5b9e7f9",
        "name": "",
        "group": "0746a1fe7f49ec89",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Zichtbaarheid",
        "label": "meter",
        "format": "{{msg.payload.visibility}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#f50505",
            "#e6e600",
            "#3acb4a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 720,
        "y": 900,
        "wires": []
    },
    {
        "id": "27597d1182df6712",
        "type": "inject",
        "z": "76c0ebc5d5b9e7f9",
        "name": "",
        "props": [],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 330,
        "y": 980,
        "wires": [
            [
                "3202e688b248477b"
            ]
        ]
    },
    {
        "id": "951bba1748bdb5e2",
        "type": "function",
        "z": "76c0ebc5d5b9e7f9",
        "name": "Value checker",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "8efbdf4fd25d6cb0",
        "type": "ui_text",
        "z": "76c0ebc5d5b9e7f9",
        "group": "0746a1fe7f49ec89",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temp:",
        "format": "{{msg.payload.main.temp/10}}*C",
        "layout": "row-spread",
        "className": "",
        "x": 690,
        "y": 820,
        "wires": []
    },
    {
        "id": "f1de12aa24c31176",
        "type": "ui_text",
        "z": "76c0ebc5d5b9e7f9",
        "group": "0746a1fe7f49ec89",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vochtigheid:",
        "format": "{{msg.payload.main.humidity}}",
        "layout": "row-spread",
        "className": "",
        "x": 710,
        "y": 860,
        "wires": []
    },
    {
        "id": "d493f7575ff34653",
        "type": "ui_text",
        "z": "76c0ebc5d5b9e7f9",
        "group": "0746a1fe7f49ec89",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Locatie:",
        "format": "{{msg.payload.name}}",
        "layout": "row-spread",
        "className": "",
        "x": 700,
        "y": 740,
        "wires": []
    },
    {
        "id": "70a866b397fa7185",
        "type": "mqtt in",
        "z": "76c0ebc5d5b9e7f9",
        "name": "",
        "topic": "#",
        "qos": "1",
        "datatype": "json",
        "broker": "5b96b587fe984b2a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1360,
        "wires": [
            [
                "215b7b118f993d73"
            ]
        ]
    },
    {
        "id": "bd3b24a968b6309b",
        "type": "function",
        "z": "76c0ebc5d5b9e7f9",
        "name": "Update DB",
        "func": "let payload = msg.payload.uplink_message.decoded_payload.string\nlet length = payload.split(\":\").length\n\nif (length != 2 && length != 4 && length != 6) {\n    node.error(payload);\n    node.error(\"Data format is incorrect\");\n    return;\n}\n\nlet id = payload.split(\":\")[0]\nlet mode = payload.split(\":\")[1]\nif(mode == 0){  //Id\n    msg.topic = \"INSERT INTO bakens (id, last_ms) VALUES ('\" + id + \"','\" + Date.now() + \"') ON DUPLICATE KEY UPDATE id='\" + id + \"',last_ms='\" + Date.now() + \"'\"\n}else if (mode == 1){ //Data\n    let L1 = payload.split(\":\")[2]\n    let L2 = payload.split(\":\")[3]\n    let L3 = payload.split(\":\")[4]\n    let Error = payload.split(\":\")[5]\n    msg.topic = \"UPDATE bakens SET lamp1=\" + L1 + \",lamp2=\" + L2 + \",lamp3=\" + L3 + \",status_code=\" + Error + \",last_ms=\" + Date.now() + \" WHERE id='\"+id+\"'\"\n} else if (mode == 2) {  //GPS\n    let Lat = payload.split(\":\")[2]\n    let Lon = payload.split(\":\")[3]\n    msg.topic = \"UPDATE bakens SET lat=\" + Lat + \", lon=,\" + Lon + \" last_ms=\" + Date.now() + \" WHERE id='\" + id + \"'\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1360,
        "wires": [
            [
                "b516704ce0df1048"
            ]
        ]
    },
    {
        "id": "b516704ce0df1048",
        "type": "mysql",
        "z": "76c0ebc5d5b9e7f9",
        "mydb": "30ae48b66e9171d1",
        "name": "PoAB DB",
        "x": 780,
        "y": 1360,
        "wires": [
            [
                "cb3c8011ab2afef6"
            ]
        ]
    },
    {
        "id": "af914b81c53a9909",
        "type": "mysql",
        "z": "76c0ebc5d5b9e7f9",
        "mydb": "30ae48b66e9171d1",
        "name": "PoAB DB",
        "x": 780,
        "y": 1420,
        "wires": [
            [
                "594415530cb7e7f6"
            ]
        ]
    },
    {
        "id": "cb3c8011ab2afef6",
        "type": "function",
        "z": "76c0ebc5d5b9e7f9",
        "name": "Get DB data",
        "func": "msg.topic = \"SELECT * from bakens\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1420,
        "wires": [
            [
                "af914b81c53a9909"
            ]
        ]
    },
    {
        "id": "594415530cb7e7f6",
        "type": "function",
        "z": "76c0ebc5d5b9e7f9",
        "name": "Get Id's ",
        "func": "let ids = [];\n\nfor (let i = 0; i < msg.payload.length; i++) {\n    ids.push(msg.payload[i].id);\n}\n\nmsg.options = ids;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1480,
        "wires": [
            [
                "8eafa6051a2a7c33"
            ]
        ]
    },
    {
        "id": "8eafa6051a2a7c33",
        "type": "ui_dropdown",
        "z": "76c0ebc5d5b9e7f9",
        "name": "",
        "label": "Kies baken",
        "tooltip": "",
        "place": "Select option",
        "group": "f8821c3e08c633d1",
        "order": 1,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 790,
        "y": 1480,
        "wires": [
            [
                "08a7eac66d758bd7",
                "a6e9f843011fcabc"
            ]
        ]
    },
    {
        "id": "08a7eac66d758bd7",
        "type": "function",
        "z": "76c0ebc5d5b9e7f9",
        "name": "Selected id",
        "func": "msg.topic = \"SELECT * FROM bakens WHERE Id = '\" + msg.payload + \"'\";\n//node.warn(msg.topic);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1540,
        "wires": [
            [
                "4d9cb0a93322eeb5"
            ]
        ]
    },
    {
        "id": "cc37a05a49f87b23",
        "type": "inject",
        "z": "76c0ebc5d5b9e7f9",
        "name": "Init dropdown",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 380,
        "y": 1420,
        "wires": [
            [
                "cb3c8011ab2afef6"
            ]
        ]
    },
    {
        "id": "215b7b118f993d73",
        "type": "function",
        "z": "76c0ebc5d5b9e7f9",
        "name": "Uplink filter",
        "func": "if (msg.payload.uplink_message){\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1360,
        "wires": [
            [
                "bd3b24a968b6309b"
            ]
        ]
    },
    {
        "id": "6c139d6a4d530d33",
        "type": "inject",
        "z": "76c0ebc5d5b9e7f9",
        "name": "Test Data",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload.received_at",
                "v": "2023-02-18T15:51:34.874444933Z",
                "vt": "str"
            },
            {
                "p": "payload.uplink_message.f_port",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "qos",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "retain",
                "v": "false",
                "vt": "bool"
            },
            {
                "p": "payload.uplink_message.decoded_payload.string",
                "v": "!",
                "vt": "str"
            },
            {
                "p": "payload.uplink_message.decoded_payload.string",
                "v": "a8610a30392e650b:0",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "v3/slimmebaken-poab@ttn/devices/eui-70b3d57ed005a8ea/up",
        "x": 200,
        "y": 1320,
        "wires": [
            [
                "215b7b118f993d73"
            ]
        ]
    },
    {
        "id": "4d9cb0a93322eeb5",
        "type": "mysql",
        "z": "76c0ebc5d5b9e7f9",
        "mydb": "30ae48b66e9171d1",
        "name": "PoAB DB",
        "x": 780,
        "y": 1540,
        "wires": [
            [
                "69bf4cf96d742ab5",
                "a20ba1dfada35a3a",
                "966935aff3cbfb1a",
                "0d1831a8f64bea07",
                "57d8be79158d28bb",
                "916efda3cdc554e3",
                "157584800279959c"
            ]
        ]
    },
    {
        "id": "69bf4cf96d742ab5",
        "type": "ui_text",
        "z": "76c0ebc5d5b9e7f9",
        "group": "f8821c3e08c633d1",
        "order": 2,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Dev ID:",
        "format": "{{msg.payload[0].id}}",
        "layout": "row-spread",
        "className": "",
        "x": 960,
        "y": 1540,
        "wires": []
    },
    {
        "id": "a20ba1dfada35a3a",
        "type": "ui_text",
        "z": "76c0ebc5d5b9e7f9",
        "group": "f8821c3e08c633d1",
        "order": 4,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Lamp1:",
        "format": "{{msg.payload[0].lamp1}}",
        "layout": "row-spread",
        "className": "",
        "x": 960,
        "y": 1580,
        "wires": []
    },
    {
        "id": "966935aff3cbfb1a",
        "type": "ui_text",
        "z": "76c0ebc5d5b9e7f9",
        "group": "f8821c3e08c633d1",
        "order": 6,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Lamp2:",
        "format": "{{msg.payload[0].lamp2}}",
        "layout": "row-spread",
        "className": "",
        "x": 960,
        "y": 1620,
        "wires": []
    },
    {
        "id": "0d1831a8f64bea07",
        "type": "ui_text",
        "z": "76c0ebc5d5b9e7f9",
        "group": "f8821c3e08c633d1",
        "order": 8,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Lamp3:",
        "format": "{{msg.payload[0].lamp3}}",
        "layout": "row-spread",
        "className": "",
        "x": 960,
        "y": 1660,
        "wires": []
    },
    {
        "id": "8cb531bf6ff81a1c",
        "type": "ui_text",
        "z": "76c0ebc5d5b9e7f9",
        "group": "f8821c3e08c633d1",
        "order": 5,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Status:",
        "format": "{{msg.status}}",
        "layout": "row-spread",
        "className": "",
        "x": 1140,
        "y": 1700,
        "wires": []
    },
    {
        "id": "57d8be79158d28bb",
        "type": "function",
        "z": "76c0ebc5d5b9e7f9",
        "name": "function 3",
        "func": "let code_bin = Number(msg.payload[0].status_code).toString(2)\nlet error = \"Lamp(en) zijn niet aan:\"\n\nif (code_bin.length > 1){\n    if (code_bin[0] == \"1\") {\n        error = error + \" L3\"\n    }\n    if (code_bin[1] == \"1\") {\n        error = error + \" ,L2\"\n    }\n    if (code_bin[2] == \"1\") {\n        error = error + \" ,L1\"\n    }\n    msg.status = error\n}else{\n    if (code_bin == \"0\") {\n        msg.status = \"Niet gecontroleerd\"\n    } else if (code_bin == \"1\") {\n        msg.status = \"Ok\"\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1700,
        "wires": [
            [
                "8cb531bf6ff81a1c"
            ]
        ]
    },
    {
        "id": "b74ac625e4599c2f",
        "type": "function",
        "z": "76c0ebc5d5b9e7f9",
        "name": "Convert to downlink",
        "func": "\nreturn {\n    \"payload\": {\n        \"downlinks\": [{\n            \"f_port\": 15,\n            \"frm_payload\": msg.payload.toString(\"base64\"),\n            \"priority\": \"NORMAL\"\n        }]\n    },\n    \"topic\": \"v3/slimmebaken-poab@ttn/devices/eui-\"+ msg.topic +\"/down/replace\"\n}\n\n//[76,49] Aan\n//[76,48] Uit",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1920,
        "wires": [
            [
                "2ee1d2789a076b6c"
            ]
        ]
    },
    {
        "id": "ad25f202737fdc17",
        "type": "ui_button",
        "z": "76c0ebc5d5b9e7f9",
        "name": "",
        "group": "f8821c3e08c633d1",
        "order": 7,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "Baken aan",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "[76,49]",
        "payloadType": "bin",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 1900,
        "wires": [
            [
                "b74ac625e4599c2f"
            ]
        ]
    },
    {
        "id": "5e76f572e1f165d2",
        "type": "ui_button",
        "z": "76c0ebc5d5b9e7f9",
        "name": "",
        "group": "f8821c3e08c633d1",
        "order": 9,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "Baken uit",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "[76,48]",
        "payloadType": "bin",
        "topic": "topic",
        "topicType": "msg",
        "x": 560,
        "y": 1940,
        "wires": [
            [
                "b74ac625e4599c2f"
            ]
        ]
    },
    {
        "id": "4ea1add43fde3507",
        "type": "ui_text",
        "z": "76c0ebc5d5b9e7f9",
        "group": "f8821c3e08c633d1",
        "order": 11,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Last updated:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1160,
        "y": 1740,
        "wires": []
    },
    {
        "id": "916efda3cdc554e3",
        "type": "function",
        "z": "76c0ebc5d5b9e7f9",
        "name": "function 4",
        "func": "let time;\nif (msg.payload[0].last_ms - Date.now() > 0) {\n    time = msg.payload[0].last_ms - Date.now();\n} else {\n    time = Date.now() - msg.payload[0].last_ms;\n}\n\nmsg.payload = Math.round(time / 1000) + \" second(s) ago\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1740,
        "wires": [
            [
                "4ea1add43fde3507"
            ]
        ]
    },
    {
        "id": "157584800279959c",
        "type": "function",
        "z": "76c0ebc5d5b9e7f9",
        "name": "Filter GPS",
        "func": "\n    let data ={\n        \"name\": \"Baken\",\n        \"lat\": msg.payload[0].lat,\n        \"lon\": msg.payload[0].lon,\n        \"icon\": \"rss\",\n        \"iconColor\": \"darkred\",\n        \"extrainfo\": msg.payload[0].id\n    }\n    msg.payload = data\n    return msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 1780,
        "wires": [
            [
                "49e9d1bee7d5472a"
            ]
        ]
    },
    {
        "id": "49e9d1bee7d5472a",
        "type": "ui_worldmap",
        "z": "76c0ebc5d5b9e7f9",
        "group": "86cc8091260226d5",
        "order": 1,
        "width": 6,
        "height": 6,
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "true",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1140,
        "y": 1780,
        "wires": []
    },
    {
        "id": "2ee1d2789a076b6c",
        "type": "mqtt out",
        "z": "76c0ebc5d5b9e7f9",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5b96b587fe984b2a",
        "x": 990,
        "y": 1920,
        "wires": []
    },
    {
        "id": "a6e9f843011fcabc",
        "type": "function",
        "z": "76c0ebc5d5b9e7f9",
        "name": "Id to topic",
        "func": "msg.topic = msg.payload\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1920,
        "wires": [
            [
                "ad25f202737fdc17",
                "5e76f572e1f165d2"
            ]
        ]
    },
    {
        "id": "b0885c7198a15538",
        "type": "ui_spacer",
        "z": "76c0ebc5d5b9e7f9",
        "name": "spacer",
        "group": "f8821c3e08c633d1",
        "order": 3,
        "width": 15,
        "height": 1
    },
    {
        "id": "6bcdb3eeb3e63ae1",
        "type": "ui_spacer",
        "z": "76c0ebc5d5b9e7f9",
        "name": "spacer",
        "group": "f8821c3e08c633d1",
        "order": 10,
        "width": 8,
        "height": 1
    },
    {
        "id": "0746a1fe7f49ec89",
        "type": "ui_group",
        "name": "Weer API",
        "tab": "235a063ca14cc2a7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5b96b587fe984b2a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "30ae48b66e9171d1",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "PoAB",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "f8821c3e08c633d1",
        "type": "ui_group",
        "name": "Slimme bakens",
        "tab": "235a063ca14cc2a7",
        "order": 2,
        "disp": true,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "86cc8091260226d5",
        "type": "ui_group",
        "name": "GPS",
        "tab": "235a063ca14cc2a7",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "235a063ca14cc2a7",
        "type": "ui_tab",
        "name": "Slimme baken PoAB",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]